$color--deep-blue: #6a6afa;
$color--dark-blue: #4a4ada;



* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1#home {
    font-size: 4em;
    font-weight: 100;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    background: #fafada;

    width: 100vw;
    height: 100vh;
}

#drawer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    background: $color--deep-blue;
    color: white;
    display: flex;
    z-index: 99;
}

.drawer--open {
    transform: translate(calc(300px - 100vw));
}

.trans {
    transition: transform .75s ease-in-out;
}

.drawer__big {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.drawer__big--pitch {
    background: rgba(0,0,0,0.1);
    padding: 35px;
    flex: 1 1 70%;
    margin: 50px;
    min-height: 300px;
    max-width: 500px;
    overflow: hidden;
    font-size: 1.3em;
    font-weight: 100;
    font-spacing: 3px;
}

.registration {
    height: 300px;
    width: 500px;
    background: white;
}

.drawer__side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.drawer__lnk {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 100;
    margin: 10px;
    padding: 15px;
    /* width: 50px; */
    height: 30px;
    /* background: #aaaaaa; */
}

.panel {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    height: 100vh;
    background: #dadada;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

core-pages {
    border: 1px;
    /* height: 90%; */
    margin: 70px 90px;
    /* margin-left: 30px; */
    /* border: 1px solid; */
}

.mealplan {
    height: 600px;
    overflow: hidden;
    /* border: 1px dashed; */
}

[draggable] {
    user-select: none;
}

.meal-card {
    box-sizing: border-box;
    width: 350px;
    height: 65px;
    position: absolute;
    top: 0px;
    left: 0px;
    /* margin: 15px; */
    background: hsla(0, 0%, 100%,0.46);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}

.meal-card__name {
    font-size: 1.4em;
    font-weight: 300;
    pointer-events: none;
    /* padding: 20px; */
}

.dragged-from {
    /* border: 2px dashed; */
    /* opacity: 0; */
    /* visibility: hidden; */
}

.dropzone {
    border: 1px dashed;
}

.day-1 {
    /* background: hsla(1,95%,85%,0.46); */
    transform: translateY(0px);
}
.day-2 {
    /* background: hsla(50,95%,85%,0.46); */
    transform: translateY(80px);
}
.day-3 {
    /* background: hsla(100,95%,85%,0.46); */
    transform: translateY(160px);
}
.day-4 {
    /* background: hsla(150,95%,85%,0.46); */
    transform: translateY(240px);
}
.day-5 {
    /* background: hsla(200,95%,85%,0.46); */
    transform: translateY(320px);
}
.day-6 {
    /* background: hsla(250,95%,85%,0.46); */
    transform: translateY(400px);
}
.day-7 {
    /* background: hsla(300,95%,85%,0.46); */
    transform: translateY(480px);
}
