$color--deep-blue: #6a6afa;
$color--dark-blue: #4a4ada;



* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1#home {
    font-size: 4em;
    font-weight: 100;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    background: #fafada;

    width: 100vw;
    height: 100vh;
}

#drawer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    background: $color--deep-blue;
    color: white;
    display: flex;
    z-index: 99;
}

.drawer--open {
    transform: translate(calc(300px - 100vw));
}

.trans {
    transition: transform .75s ease-in-out;
}

.drawer__big {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.drawer__big--pitch {
    background: rgba(0,0,0,0.1);
    padding: 35px;
    flex: 1 1 70%;
    margin: 50px;
    min-height: 300px;
    max-width: 500px;
    overflow: hidden;
    font-size: 1.3em;
    font-weight: 100;
    font-spacing: 3px;
}

.registration {
    height: 300px;
    width: 500px;
    background: white;
}

.drawer__side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.drawer__lnk {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 100;
    margin: 10px;
    padding: 15px;
    /* width: 50px; */
    height: 30px;
    /* background: #aaaaaa; */
}

.panel {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    height: 100vh;
    background: #dadada;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

core-pages {
    border: 1px;
    /* height: 90%; */
    margin: 70px 90px;
    /* margin-left: 30px; */
    /* border: 1px solid; */
}

.mealplan {
    height: 600px;
    overflow: hidden;
    /* border: 1px dashed; */
}

[draggable] {
    user-select: none;
}

.meal-card__base {
    box-sizing: border-box;
    width: 350px;
    height: 65px;
    position: absolute;
    top: 0px;
    left: 0px;
    /* margin: 15px; */
    background: hsla(40, 10%, 100%,0.46);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    user-select: none;
}

.meal-card {
    box-sizing: border-box;
    width: 350px;
    height: 65px;
    position: absolute;
    top: 0px;
    left: 0px;
    /* margin: 15px; */
    background: hsla(0, 0%, 90%,1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    user-select: none;
}

.meal-card__trans {
    transition: all .3s ease-in-out;
}


.meal-card__name {
    font-size: 1.4em;
    font-weight: 300;
    pointer-events: none;
    /* padding: 20px; */
}

.dragged-from {
    /* border: 2px dashed; */
    /* opacity: 0; */
    /* visibility: hidden; */
}

.dropzone {
    border: 1px dashed;
    z-index: 1;
}

.lift {
    z-index: 10;
}

[day="1"] {
    /* transform: translateY(0px); */
    top: 0px;
}
[day="2"] {
    /* transform: translateY(80px); */
    top: 80px;
}
[day="3"] {
    /* transform: translateY(160px); */
    top: 160px;
}
[day="4"] {
    /* transform: translateY(240px); */
    top: 240px;
}
[day="5"] {
    /* transform: translateY(320px); */
    top: 320px;
}
[day="6"] {
    /* transform: translateY(400px); */
    top: 400px;
}
[day="7"] {
    /* transform: translateY(480px); */
    top: 480px;
}
