@import "base";
@import "colors";

.panel {
    background: #dadada;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top: $drawer-sml;
    box-sizing: border-box;
    /* border: 1px dashed; */

    @media screen and (min-width: $break-small+1) {
        top: 0;
        left: 0;
        padding-top: 0;
        padding-left: $drawer-lrg;
    }
}

.mealplan {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.meal-card__base {
    box-sizing: border-box;
    flex-grow: 1;
    margin-bottom: 1px;
    z-index: 1;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meal-card {
    background: hsla(0, 0%, 90%,1);
    box-sizing: border-box;
    /* flex-grow: 1; */

    position: absolute;
    /* width: 100%; */
    /* height: 65px; */
    /* top: 0px; */
    /* left: 0px; */
    /* margin: 15px; */
    z-index: 4;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.toolbar {
    background: $clr-pink;
    height: $toolbar-height;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reload {
    background: red;
    flex: 1;
    height: 100%;
    font-size: 1.3em;
    font-weight: 100;
    font-spacing: 3px;
}

.configure {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accept {
    background: green;
    flex: 1;
    height: 100%;
    font-size: 1.3em;
    font-weight: 100;
    font-spacing: 3px;
}

.drawer__side {
    background: black;
    height: $drawer-sml;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
        @include title-font-size($small);
        padding-left: 5px;
        font-weight: $light;
        cursor: pointer;
    }

    .price {
        padding-right: 5px;
        font-weight: $light;
    }

    #whatis, #config {
        display: none;
    }

    @media screen and (min-width: $break-small+1) {
        height: 100%;
        width: $drawer-lrg;
        flex-direction: column;
        justify-content: flex-start;

        h1 {
            @include title-font-size($large);
        }
        #whatis, #config {
            display: block;
        }
    }
}

.drawer__lnk {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 100;
    margin: 10px;
    padding: 15px;
    /* width: 50px; */
    height: 30px;
    /* background: #aaaaaa; */
}

.drawer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    background: $clr-deep-blue;
    color: white;
    display: flex;
    flex-direction: column;
    z-index: 99;

    @media screen and (min-width: $break-small+1) {
        flex-direction: row;
    }
}

.drawer--open {
    /*@media screen and (max-width: $break-small) {*/
        transform: translateY(calc(50px - 460px));
    /*}*/
    @media screen and (min-width: $break-small+1) {
        transform: translate(calc(300px - 100%));
    }
}

.trans {
    transition: transform 0.5s ease-in-out;
}

.drawer__big {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.drawer .pitch {
    padding: 35px;
    font-weight: $light;
    @media screen and (min-width: $break-small+1) {
        background: rgba(0,0,0,0.1);
        flex: 1 1 70%;
        margin: 50px;
        min-height: 300px;
        max-width: 500px;
        overflow: hidden;
        font-size: 1.3em;
        font-weight: 100;
        font-spacing: 3px;
    }
}

.registration {
    height: 300px;
    width: 500px;
    background: white;
}


.meal-card__trans {
    transition: all 0.3s ease-in-out;
}


.meal-card__name {
    font-size: 1.4em;
    font-weight: 300;
    pointer-events: none;
    /* padding: 20px; */
}

.dropzone {
    /*border: 1px dashed;*/
    z-index: 1;
}

input {
    background: hsla(0, 0%, 85%,1);
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
    border: 0;
    outline: 0;
}

.lift {
    z-index: 10;
}

@for $i from 1 through 7 {
    [day="#{$i}"].meal-card__base {
        background: hsla(50*(($i)-1),95%,85%,0.26);
    }
}

